//footer
.footer {
    // margin: 0 auto;
    padding: 50px 100px;
    background-color: $secondary;
    height: 300px;
    color: $primary;
    font-size: 20px;
    .logo {
      margin: 10px;
      .logo-img {
        height: 85px;
        margin-bottom: 15px;
      }
      .logo-text {
        height: 54px;
      }
    }
    .button {
      border-left: 3px solid $primary;
      padding-inline: 100px;
      margin-left: 90px;
      .btn {
        height: 80px;
        width: 180px;
        color: $primary;
        border: 2px solid $primary;
        font-size: 20px;
        padding: 15px;
        margin: 10px;
        &:hover {
          color: $secondary;
          background-color: $primary;
        }
      }
    }
  
    ul {
      margin: 10px;
    }
  }