.course-detail-body {
  font-family: inter;
  background: $primary;
  color: $font;
  .course-detail-info {
    // background: lightgray;
    display: flex;
    align-items: center;

    .left {
      .course-detail-img {
        // background-image: url(https://github.com/asmallgreen/final_project/blob/Jim/client/public/images/homepage/course-image1.png?raw=true);
        // background-size: cover;
        max-width: 621px;
        height: 670px;
        overflow: hidden;
      }
    }
  }
  .right {
    // background: lightpink;
    width: calc(100% - 621px - 80px);
    // min-height: 673px;
    margin-left: 80px;
    // 處理btns的位置
    display: flex;
    flex-direction: column;
    .course-detail-text {
      // background: lightgoldenrodyellow;
      //佔滿除了btns的空間
      flex-grow: 1;
      .title {
        margin-top: -10px;
        font-size: 30px;
        font-weight: 800;
      }
      .intro {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 60px;
        // 固定高度暫時方案
        min-height: 250px;
        max-height: 250px;
      }
    }
    .course-detail-items {
      font-weight: 800;
      font-size: 16px;
      line-height: 30px;
    }
    .course-rating {
      display: flex;
      align-items: first baseline;
      justify-content: space-between;
      .price {
        font-size: 35px;
        color: $accent;
        letter-spacing: 0.1em;
        margin: 0;
      }
      .stars {
        display: flex;
        margin-block: 20px;
        .star {
          font-size: 22.5px;
          letter-spacing: 5px;
        }
      }
      .counting {
        font-style: 14px;
        margin-left: 14px;
      }
    }
    .btns {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .course-detail-btn {
        letter-spacing: 0.1em;
        padding: 12px 0px;
        width: 290px;
        font: 800 14px inter;
        background: $secondary;
        color: $primary;
        border-radius: 0%;
        &:hover {
          color: $secondary;
          background-color: $primary;
        }
      }
    }
  }
}

// tabs邊距
.course-detail-tabs {
  margin-top: 60px;
  margin-bottom: 100px;
  padding-inline: 100px;
}

// 評價卡片樣式
.comment-card {
}
.h150px {
  max-height: 150px;
  overflow: hidden;
  transition: height 0.3s ease-in-out 0s;
}

// 課程大綱樣式
.syllabus-container {
  .row > * {
    padding: 0;
  }
  .syllabus-container {
    margin-top: 20px;
  }

  .table-header {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }

  .table-data {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  // 課程大綱表格 RWD
  @media (max-width: 768px) {
    .table-header,
    .table-data {
      padding: 5px;
    }
  }
}

// 教師介紹樣式
.teacher-description-container {
  padding: 0;
  height: 300px;
  background: #f0f0f0;
  border-radius: 10px;
  .teacher-avatar {
    position: relative;
    margin: 15px;
    height: 270px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: scale-down;
    }
  }
  .teacher-intro {
    margin-inline: 30px;
    margin-block: 15px;
    height: 270px;
    width: calc(100% - 300px - 30px);
    .teacher-rank {
      font-size: 14px;
      color: #999;
      margin-bottom: 10px;
    }
    .teacher-paragraph {
      font-size: 16px;
      line-height: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
  }
}
