.course-detail-body {
  font-family: inter;
  background: $primary;
  color: $font;
  .course-detail-info {
    // background: lightgray;
    display: flex;
    align-items: center;

    .left {
      .course-detail-img {
        background-image: url(https://github.com/asmallgreen/final_project/blob/Jim/client/public/images/homepage/course-image1.png?raw=true);
        width: 621px;
        height: 670px;
        background-size: cover;
      }
    }
    .right {
      // background: lightpink;
      width: calc(100% - 621px - 80px);
      // max-height: 673px;
      margin-left: 80px;
      // 處理btns的位置
      display: flex;
      flex-direction: column;
      .course-detail-text {
        // background: lightgoldenrodyellow;
        //佔滿除了btns的空間
        flex-grow: 1;
        .title {
          font-size: 30px;
          font-weight: 800;
        }
        .intro {
          font-size: 16px;
          margin-block: 43px;
          max-height: 240px;
        }
      }
      .course-detail-items {
        font-size: 16px;
        line-height: 30px;
      }
      .course-rating {
        display: flex;
        align-items: first baseline;
        justify-content: space-between;
        .price {
          font-size: 35px;
          color: $accent;
          letter-spacing: 0.1em;
          margin: 0;
        }
        .stars {
          display: flex;
          margin-block: 20px;
          .star {
            font-size: 22.5px;
            letter-spacing: 5px;
          }
        }
        .counting {
          font-style: 14px;
          margin-left: 14px;
        }
      }
      .btns {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .course-detail-btn {
          letter-spacing: 0.1em;
          padding: 12px 0px;
          width: 290px;
          font: 800 14px inter;
          background: $secondary;
          color: $primary;
          border-radius: 0%;
          &:hover {
            color: $secondary;
            background-color: $primary;
          }
        }
      }
    }
  }
}
.course-detail-tabs {
  margin-top: 60px;
  margin-bottom: 100px;
  padding-inline: 100px;
}

.comment-card {
}
.h150px {
  max-height: 150px;
  overflow: hidden;
  transition: height 0.3s ease-in-out 0s;
}

// 大綱樣式
.syllabus-container {
  .row > * {
    padding: 0;
  }
  .syllabus-container {
    margin-top: 20px;
  }

  .table-header {
    font-weight: bold;
    background-color: #f0f0f0; /* 表头背景颜色 */
    padding: 10px;
    text-align: center;
  }

  .table-data {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* 表格边框 */
  }

  /* 响应式设计 */
  @media (max-width: 768px) {
    .table-header,
    .table-data {
      padding: 5px; /* 减小内边距以适应小屏幕 */
    }
  }
}
