--bs-accordion-active-color .product-info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary;
  margin: 30px 0 0 0;
  padding: 0 30px 10px 30px;
}

.accordion {
  --bs-border-radius: 0%;
  --bs-accordion-border-color: none;
}
.accordion-item {
  border: transparent !important;
  // border-bottom: 1px solid $secondary !important;
}
.accordion-button {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px 0 10px 25px !important;
  color: $secondary !important;
  border-bottom: 1px solid $secondary !important;
  font-size: 25px !important;
  &[aria-expanded="true"] {
    border-bottom: 1px dashed $secondary !important;
    font-weight: bold;
    //  background-color: #91918b;
    //  color: $primary;
  }
  ::after {
    color: #fcfaf2;
    font-size: 25px;
  }
}
.accordion-header {
  margin-top: 25px;
  border-bottom: transparent;
  // background-color: #616153;
  color: #fcfaf2;
}

.accordion-body {
  max-width: 1220px;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 20px;
  color: $secondary;
  padding-left: 20px;
  ol {
    list-style-type: circle;
    padding-left: 60px;
    li {
      padding-block: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .accordion-button {
    font-size: 16px !important;
    ::after {
      font-size: 16px;
    }
  }
  .accordion-header {
    margin-top: 16px;
    border-bottom: transparent;
  }
  .accordion-body {
    font-size: 16px;
    padding-left: 10px;
    ol {
      padding-left: 20px;
      li {
        padding-block: 5px;
      }
    }
  }
}
