$form-select-indicator:null;
.wrap {
  display: flex;
  align-items: center;
  padding-inline: 12px;
  .btn-group {
    height: 40px;
    margin-right: 16px;
      .btn-outline-primary {
        svg{
            padding-right: 8px;
        }
      }
    .btn {
      color: $secondary;
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
    }
    .btn-outline-primary {
      border: 1px solid $secondary;
      border-radius: 0;
    }
  }
  .per-page {
    width: 180px;
    height: 40px;
    border: 1px solid $secondary;
    border-radius: 0;
    color: $secondary;
    padding-inline: 16px;
    justify-content: space-between;
    .btn-primary {
      text-align: start;
      width: 50px;
        margin-left: 3px;
        padding: 3px 3px;
      // border: 1px solid transparent;
      border-radius: 0;
      background-color: $primary;
      color: $secondary;
      display: flex;
      height: 38px;
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    margin: 0;
    padding-inline: 0px;
    .btn-group {
        margin-right: 2px;
        .btn-outline-primary {
          svg{
              padding-right: 1px;
              margin: 0;
          }
        }
      .btn {
        font-size: 13px;
        padding: 3px 5px 3px 1px;
            
     
      }
    }
    .per-page {
      justify-content: space-between;
      width: 125px;
      padding-inline: 5px;
      font-size: 13px;
      border: 1px solid $secondary;
      border-radius: 0;
      color: $secondary;
      .btn-primary {
        width: 45px;
        margin-inline: 0px;
        padding: 3px 5px;
        font-size: 13px;
      }
    }
  }
}
