.filter-cards-area {
  // font-family: 'Inter';
  justify-content: center;
  padding: 48px 200px;
  .filter-cards {
    display: flex;
    .rows {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }
  .card {
    width: 220px;
    border-radius: 0;
    border: 1px solid $secondary 0.5;
    // height: 400px;
    background-color: #fff;
    margin: 10px 15px;
    padding: 0;
    .img {
      height: 220px;
      width: 100%;
      // background-color: $secondary;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      button {
        border: transparent;
        background-color: transparent;
        top: 10px;
        right: 16px;
        .fa-heart {
          width: 26px;
          height: 26px;
          color: $accent;
          z-index: 10;
        }
        .far-heart {
          z-index: 10;
          width: 26px;
          height: 26px;
          color: $accent;
        }
      }
    }
    .content {
      padding: 5px 0 5px 10px;
      background-color: #fff;

      .product-name {
        display: flex;
        padding: 3px 0 0 0;
        font-weight: bold;
        color: #848470;
        font-size: 20px;
        .tag1 {
          border-radius: 0 0 0px 0;
          bottom: 1px;
          right: 1px;
          text-align: center;
          padding-block: 5px;
          margin-right: 5px;
          width: 50px;
          height: 30px;
          font-size: 14px;
          letter-spacing: 1px;
          background-color: $accent;
          color: $primary;
        }
        .tag2 {
          border-radius: 0 0 0px 0;
          bottom: 1px;
          right: 51px;
          text-align: center;
          padding-block: 5px;
          margin-right: 5px;
          width: 50px;
          height: 30px;
          font-size: 14px;
          letter-spacing: 1px;
          background-color: $secondary;
          color: $primary;
        }
      }
      // .description {
      //   color: $secondary;
      //   font-size: 15px;
      // }
      .price {
        // padding-right: 5px;
        font-size: 20px;
        font-weight: bold;
        color: $accent;
        text-align: end;
        button {
          border: transparent;
          color: $secondary;
          background-color: transparent;
          &:hover {
            color: #93937b;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .filter-cards-area {
    padding: 0px;
    margin: 0;
    .filter-cards {
      padding: 0;
      display: flex;
      .rows {
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }
    .card {
      width: 145px;
      // height: 400px;
      margin: 10px 5px;
      padding: 0;
      .img {
        height: 130px;
        width: 100%;
        background-color: $secondary;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        button {
          border: transparent;
          background-color: transparent;
          top: 10px;
          right: 16px;
          .fa-heart {
            width: 26px;
            height: 26px;
            color: $accent;
          }
          .far-heart {
            // display: none;
          }
          &:hover {
            .fa-heart {
              // display: none;
            }
            .far-heart {
              // display: block;
              width: 26px;
              height: 26px;
              color: $accent;
            }
          }
        }
      }
      .content {
        padding: 5px 5px 0 5px;
        .product-name {
          // font-weight: normal;
          color: $secondary;
          font-size: 14px;
          .tag1 {
            padding-block: 3px;
            width: 30px;
            height: 20px;
            font-size: 10px;
            font-weight: normal;
          }
          .tag2{
            padding-block: 3px;
            width: 30px;
            height: 20px;
            font-size: 10px;
            font-weight: normal;
          }
        }
        .description {
          color: $secondary;
          font-size: 15px;
        }
        .price {
          font-weight: normal;
          font-size: 15px;
          color: $accent;
          button {
            border: transparent;
            color: $secondary;
            background-color: transparent;
            &:hover {
              color: #93937b;
            }
          }
        }
      }
    }
  }
}
