.product-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 10000;
  .product-attr-modal {
    width: 650px;
    // height: 646px;
    color: $secondary;
    border-top: 6px solid #7e7e5d;
    border-bottom: 6px solid #7e7e5d;

    .click-area {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ebdc99;
      position: relative;
      .title {
        font-size: 23px;
        width: 50%;
        text-align: center;
        padding-block: 10px;
        &:hover {
          background-color: #f0d07f;
          cursor: pointer;
          transition: 0.4s;
        }
      }
      .filter-btn {
        background-color: #f0d07f;
        cursor: pointer;
      }
      .close-btn {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 25px;
        &:hover {
          color: $accent;
        }
      }
    }
    .select-area {
      background-color: #ffffff;
      padding: 30px 40px;
      border-bottom: 1px solid $secondary;
      .select-attr-area {
        .attr-title {
          font-size: 20px;
          font-weight: bold;
        }
        .attr-buttons {
          display: flex;
          justify-content: left;
          margin-block: 10px;
          .attr-button {
            height: 45px;
            cursor: pointer;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            border-radius: 0px;
            border: 1px solid $secondary;
            margin-inline: 10px;
            &:hover {
              .attr-check {
                opacity: 0.7;
                background-color: $secondary;
                transition: 0.4s;
              }
            }
            .attr-check {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-inline: 0 10px;
              border: 1px solid $secondary;
              padding-left: 0;
              transition: 0.4s;
            }
            //toggle已選狀態
            .attr-checked {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              margin-inline: 0 10px;
              border: 1px solid $secondary;
              background-color: $secondary;
              padding-left: 0;
              transition: 0.4s;
            }
            .attr-text {
              font-size: 18px;
              color: $secondary;
            }
          }
        }
      }
    }
    .fk-area {
      display: flex;
      justify-content: flex-end;
      background-color: #ffffff;
      padding-right: 20px;
      .pick {
        cursor: pointer;
        font-size: 20px;
        color: $primary;
        padding: 10px 20px;
        margin: 25px 5px;
        &:hover {
          background-color: transparent;
          transition: 0.3s;
          color: $secondary;
        }
      }
      .clear-btn {
        background-color: $accent;
      }
      .confirm-btn {
        background-color: $secondary;
      }
    }
  }
}
.product-attr-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}