.cards {
  // height: 435px;
  // border-bottom: 1px solid $secondary;
  .rows {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .card {
    width: 230px;
    // height: 320px;
    margin: 10px 5px;
    padding: 0;
    .img {
      height: 230px;
      width: 100%;
      background-color: $secondary;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      // height: 90px;
      padding: 5px;
      .product-name {
        color: $secondary;
        font-size: 18px;
        .tag {
          text-align: center;
          padding-block: 5px;
          width: 50px;
          height: 30px;
          font-size: 12px;
          background-color: $accent;
          color: $primary;
        }
      }
      .description {
        color: $secondary;
        font-size: 15px;
      }
      .price {
        font-size: 18px;
        color: $accent;
      }
    }
  }
}
