.page-btns {
  max-width: 1440px;
  padding-inline: 30px;
  margin: 0 auto;
  .btn-group {
    .now-btn {
      width: 50px;
      height: 50px;
      border: 1px solid $secondary;
      font-size: 20px;
      border-radius: 0;
      color: $primary;
      background-color: $secondary;
    }
    .btn {
      width: 50px;
      height: 50px;
      border: 1px solid $secondary;
      font-size: 20px;
      color: $secondary;
      border-radius: 0;
      
      &:hover {
        color: $primary;
        background-color: $secondary;
        border: 1px solid $primary;
        opacity: 0.7;
      }
    }
    .active {
      color: $primary;
      background-color: $secondary;
      // border: 1px solid $primary;
    }
  }
}
@media screen and (max-width: 768px) {
  .page-btns {
    padding: 15px 20px;
    .btn-group {
      .btn {
        width: 35px;
        height: 35px;
        font-size: 14px;
      }
    }
  }
}
