.member-sidebar{
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    p{
        font-size: 1.25rem;
        font-weight: bold;
        color: $secondary;
    }
    li{
        padding: 10px 10px;
        border-left: solid 7px transparent;
        color: $secondary;
        font-size: 1.25rem;
        font-weight: bold;
    }
    li:hover{
        border-left: solid 7px $accent;
        color: $accent;
    }
    h5{

    }
}
@media (max-width: 768px) {
    img {
      width: 100px;
      height: 100px;
      border-radius: 0;
    }
  }