// @import "global.scss";

.homepage-body {
  font-family: NSimSun;
  background: $primary;
  color: $font;
  padding: 0;
  margin: 0;

  .arrow-line {
    width: 318px;
    height: 1px;
    position: relative;
    background: $font;
  }
  .arrow-line:after {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: -2px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 7px solid $font;
  }
  .homepageHero1 {
    // background-image: url(../../../public/images/homepage/hero_1.png);
    width: 100%;
    height: 885px;
  }

  .homepageHero2 {
    width: 100%;
    height: 950px;
    text-align: center;
    p {
      letter-spacing: 0.1rem;
      padding-top: 480px;
      font-weight: 400;
      font-size: 32px;
      transition: font-size 0.2s;
      &.react-scroll-parallax--active{
        font-size: 50px;
      }
      }
    }
  

  .aboutUs {
    width: 100%;
    height: 900px;
    padding: 300px 175px;
    .aboutUs-container {
      display: flex;
      flex: 0 0 auto;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      .left-desktop {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        max-width: 104px;
        font: 400 32px NSimSun;
        .p1 {
          flex: 0 0 auto;
          max-width: 41px;
          padding-bottom: 111px;
        }
        .p2 {
          flex: 0 1 auto;
          margin-left: 20px;
        }
      }
      .right-mobile{
        display: none;
      }
      .right-desktop {
        max-width: 100%;
        p {
          margin-left: 300px;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .hr {
    width: 100%;
    height: 500px;
  }
  .homepage-hr1 {
    background-image: url(../../../public/images/homepage/hr_1.webp);
  }
  .homepage-hr2 {
    background-image: url(../../../public/images/homepage/hr_2.webp);
  }
  .homepage-hr3 {
    background-image: url(../../../public/images/homepage/hr_3.webp);
    // margin-bottom: 100px;
  }

  .textarea {
    width: 100%;
    height: 500px;
    padding: 36px 0;
    text-align: center;

    h1 {
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 0.05em;
      margin-bottom: 100px;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.2em;
      line-height: 30px;
    }
    .btn {
      letter-spacing: 0.2em;
      margin-top: 100px;
      padding: 20px 0px;
      width: 454px;
      font: 800 20px inter;
      background: $secondary;
      color: $primary;
      border-radius: 0%;
      &:hover {
        color: $secondary;
        background-color: $primary;
      }
    }
  }

  .collection {
    width: 100%;
    height: 700px;
  }
    .cards {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;

      .card {
        flex: 0 0 auto;
        max-width: 300px;
        margin: 20px;
        .card-img {
          width: 250px;
          height: 300px;
          background: lightblue;
        }
        .card-title {
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.05em;
        }
        .card-price {
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.05em;
        }
      }
    }
  }
 
  .introduction {
    width: 100%;
    height: 1350px;

    .intro-card {
      display: block;
      .intro-card-img {
        background: lightsalmon;
        width: 100%;
        height: 200px;
      }
      .ic-img1 {
        background-image: url(../../../public/images/homepage/product_intro_1.webp);
      }
      .ic-img2 {
        background-image: url(../../../public/images/homepage/product_intro_2.webp);
      }
      .ic-img3 {
        background-image: url(../../../public/images/homepage/product_intro_3.webp);
      }
      .ic-img4 {
        background-image: url(../../../public/images/homepage/product_intro_4.webp);
      }
      .intro-card-text {
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        height: 130px;
        padding: 50px 0px;
        .intro-card-title {
          font-weight: 400;
          font-size: 32px;
          letter-spacing: 0.05em;
        }
        .intro-card-content {
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.05em;
          width: 300px;
          // margin-left: -150px;
        }
        .intro-card-btn {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 0.05em;
          color: black;
          // margin-left: 100px;
          .text-btn {
            margin-inline: 20px;
          }
        }
      }
    }
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
  }
  .course-slider {
    width: 100%;
    height: 500px;
    .swiper-pagination-bullet {
      background: #ffffff;
    }

    .swiper-pagination-bullet-active {
      background: $accent;
    }
    .course-slider-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      .course-img {
        width: 792px;
        height: 500px;
      }
      .course-text {
        background-color: rgb(242, 242, 242, 0.75);
        width: 782px;
        height: 339px;
        margin-top: 65.5px;
        margin-left: -200px;
        padding-left: 35px;
        h1 {
          font-weight: 400;
          font-size: 32px;
          letter-spacing: 0.05em;
          padding: 50px 0px;
        }
        p {
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.05em;
          line-height: 20px;
        }
      }
    }
    .card-btn {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.05em;
      margin-left: -420px;
      margin-top: 420px;
      .text-btn {
        margin-inline: 20px;
      }
    }
  }

//手機版
@media screen and (max-width: 393px) {
  .homepage-body {
    font-family: NSimSun;
    background: $primary;
    color: $font;
    padding: 0;
    margin: 0 0 62px 0;
    transform: none !important;
    .textarea{
      transform: none !important;
      h1{
        transform: none !important;
      }
      p{
        transform: none !important;
      }
      img{
        transform: none !important;
      }
    }
    .arrow-line {
      display: none;
      width: 318px;
      height: 1px;
      position: relative;
      background: $font;
    }
    .arrow-line:after {
      display: none;
      content: "";
      display: block;
      position: absolute;
      right: -5px;
      top: -2px;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 7px solid $font;
    }
    .homepageHero1 {
      // background-image: url(../../../public/images/homepage/hero_1.png);
      width: 100%;
      height: 100%;
      .homepage-video {
        width: 390px;
      }
    }

    .homepageHero2 {
      display: none;
      width: 100%;
      height: 300px;
      text-align: center;
      transform: none !important;
      p {
        letter-spacing: 0.1rem;
        padding-top: 311px;
        font-weight: 400;
        font-size: 26px;
      }
    }

    .aboutUs {
      width: 100%;
      height: 100%;
      padding: 0px;
      transform: none !important;
      img{
        transform: none !important;
      }
      .aboutUs-container {
        display: block;
        flex: 0 0 auto;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        .left-desktop {
          display: none;
          flex: 0 1 auto;
          flex-direction: row;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          transform: none !important;
          font: 400 25px NSimSun;
          letter-spacing: 0.2rem;
          max-width: 300px;
          margin: 0 auto;
          .p1 {
            max-width: 60px;
            flex: 0 0 auto;
            width: 100%;
            padding-bottom: 0px;
          }
          .p2 {
            max-width: 150px;
            flex: 0 1 auto;
            margin-left: 0px;
          }
        }
        .right-desktop {
          display: none;
        }
        .right-mobile {
          display: flex;
          flex-direction: column;
          max-width: 100%;

          margin-left: 0px;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0em;
          margin: 0 auto;
          padding-bottom: -200px;
          .textarea {
            height: 100%;
            transform: none !important;
            h1{
              transform: none !important;
            }
            p{
              transform: none !important;
            }
          }
          .btn {
            align-self: flex-end;
          }
        }
      }
    }
    .hr {
      width: 100%;
      height: 120px;
      transform: none !important;
    }
    .homepage-hr1 {
      background-image: url(../../../public/images/homepage/hr_1.webp);
      transform: none !important;
    }
    .homepage-hr2 {
      background-image: url(../../../public/images/homepage/hr_2.webp);
      transform: none !important;
    }
    .homepage-hr3 {
      background-image: url(../../../public/images/homepage/hr_3.webp);
      transform: none !important;
      // margin-bottom: 100px;
    }

    .textarea {
      width: 100%;
      height: 100%;
      padding: 36px 0;
      text-align: center;
      transform: none !important;
      h1 {
        font-weight: 400;
        font-size: 26px;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
        transform: none !important;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.2em;
        line-height: 30px;
        padding-block: 5px;
        transform: none !important;
      }
      .btn {
        letter-spacing: 0.2em;
        margin-top: 100px;
        padding: 20px 0px;
        width: 300px;
        font: 800 16px inter;
        background: $secondary;
        color: $primary;
        border-radius: 0%;
        // &:hover {
        //   color: $secondary;
        //   background-color: $primary;
        // }
      }
      img{
        transform: none !important;
      }
    }

    .collection {
      display: none;
      width: 100%;
      height: 700px;
      .cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;

        .card {
          flex: 0 0 auto;
          max-width: 300px;
          margin: 20px;
          .card-img {
            width: 250px;
            height: 300px;
            background: lightblue;
          }
          .card-title {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.05em;
          }
          .card-price {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.05em;
          }
        }
      }
    }

    .introduction {
      width: 100%;
      height: 100%;
      .container{
        div{
          transform: none !important;
        }
      }
      .intro-card {
        display: block;
        .intro-card-img {
          width: 100%;
          height: 67px;
          transform: none !important;
        }
        .ic-img1 {
          background-image: url(../../../public/images/homepage/product_intro_1.webp);
        }
        .ic-img2 {
          background-image: url(../../../public/images/homepage/product_intro_2.webp);
        }
        .ic-img3 {
          background-image: url(../../../public/images/homepage/product_intro_3.webp);
        }
        .ic-img4 {
          background-image: url(../../../public/images/homepage/product_intro_4.webp);
        }
        .intro-card-text {
          display: flex;
          justify-content: space-between;
          align-items: first baseline;
          height: 100%;
          padding: 0px;
          margin-bottom: 20px;
          .intro-card-title {
            font-weight: 400;
            font-size: 26px;
            letter-spacing: 0.05em;
            // width: 100%;
          }
          .intro-card-content {
            flex: 0 1 auto;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-align: right;
            width: 300px;
          }
          .intro-card-btn {
            display: none;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 0.05em;

            color: black;
            // margin-left: 100px;
            .text-btn {
              margin-inline: 20px;
            }
            // .icon{
            //   padding-bottom: 10px;
            // }
          }
        }
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
    }
    .course-slider {
      width: 100%;
      height: 400px;
      transform: none !important;
      .swiper-pagination-bullet {
        background: #ffffff;
      }

      .swiper-pagination-bullet-active {
        background: $accent;
      }
      .course-slider-container {
        display: block;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        transform: none !important;
        .course-img {
          width: 100%;
          height: 280px;
          transform: none !important;
        }
        .course-text {
          background-color: rgb(242, 242, 242, 0.75);
          width: 100%;
          height: 130px;
          margin-top: 0px;
          margin-left: 0px;
          padding: 20px;
          transform: none !important;
          h1 {
            font-weight: 400;
            font-size: 26px;
            letter-spacing: 0.05em;
            padding: 0px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 25px;
          }
        }
      }
      .card-btn {
        display: none;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-left: -420px;
        margin-top: 420px;
        .text-btn {
          margin-inline: 20px;
        }
      }
      .btn {
        letter-spacing: 0.2em;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-inline: 45px;
        padding: 20px 0px;
        width: 300px;
        font: 800 16px inter;
        background: $secondary;
        color: $primary;
        border-radius: 0%;
        
        // &:hover {
        //   color: $secondary;
        //   background-color: $primary;
        // }
      }
    }
  }
}