.pcDNone {
    display: none;
}

@media (max-width: 393px) {
    .pcDNone {
        display: block;
    }
}

.stepBar {
    padding: 5rem 0 5rem 3rem;
}

@media (max-width: 393px) {
    .stepBar {
        padding: 20px;
    }
}

.step {
    display: flex;
    max-width: 344px;
    opacity: 0.5;
    gap: 10px   ;
}

@media (max-width: 393px) {
    .step {
        flex-direction: column;
        display: none;
    }
}

.stepBox {
    background: rgba(97, 97, 83, 1);
    display: flex;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    padding: 5px;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 393px) {
    .stepBox {
        // margin-left:100px;
        width: 45px;
        height: 45px;
        font-size: 36px;
        margin: auto;
    }
}

.nowStep {
    opacity: 1;
}
@media (max-width: 393px) {
    .nowStep{
        display: flex;
    }
}


.stepNum {
    transform: rotate(45deg);
    color: #FFFCF3;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50px;
    padding-right: 3px;
}

@media (max-width: 393px) {
    .stepNum {
        font-size: 30px;
        
    }
}

.stepWords {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    margin-left: 12px;
    color: #616153;
}

@media (max-width: 393px) {
    .stepWords {
        margin-left: 0;
    }

    .phoneDNone {
        display: none;
    }

    .stepWords span {
        display: inline-block;
        margin: auto;
        padding-top: 30px;
        // padding-left: 65px;
        font-size: 20px;
    }

}

.listTitle {
    color: #fff;
    display: flex;
    background: #616153;
    height: 70px;
    padding: 0px 10px;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 393px) {
    .listTitle {
        height: 47px;
        justify-content: center;
    }

}

.listTitle div span {
    cursor: pointer;
}

.listTitle div {
    justify-content: center;
    display: flex;
}

@media (max-width: 393px) {
    .listTitle div {
        justify-content: flex-start;
    }
}

.productList {
    padding: 20px;
    border-inline: 1px solid #616153;
    border-bottom: 1px solid #616153;
    justify-content: space-between;
}

.productList div {
    margin-block: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.productList .couponSection {
    display: flex;
    flex-direction: column;
}

.productList select {
    padding: 10px 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

@media (max-width: 393px) {
    .productList select {
        padding: 10px 15px;
    }
}

.deleteBtn {
    background-color: #B16464;
    border: #B16464 1px solid;
    border-radius: 5px;

    color: #fff;
    height: 45px;
    width: 72px;
}

.deleteBtn:hover {
    background-color: #db5151;
    border: #B16464 1px solid;
}

.totalSection {
    margin-block: 100px 20px;
    padding-inline: 20px;
    border-top: 2px solid $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: $secondary;
}

@media (max-width: 393px) {
    .totalSection {
        margin-block: 20px;
        padding-inline: 0;
        font-size: 14px;
        align-items: flex-end;
    }

    .totalSection label {
        padding-bottom: 20px;
    }

}

.nextStepBtn {
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.5px solid $secondary;
    background: $secondary;
    color: #fff;
    letter-spacing: 5px;
}

@media (max-width: 393px) {
    .nextStepBtn {
        font-size: 12px;
        padding: 10px;
        line-height: 100%;
    }
}

.total {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 25px 10px;
    gap: 25px;
}

@media (max-width: 393px) {
    .total {
        padding: 10px;
        gap: 10px;
    }
}

.total div span {
    color: $accent;
}

.total :first-child {
    font-size: 25px;
}

@media (max-width: 393px) {
    .total :first-child {
        font-size: 16px;
    }
}

.total span span {
    font-weight: bold;
    padding-right: 10px;
}

/* -----------step2----------- */

.stepTypeTitle {
    border-top: 2px solid rgba(97, 97, 83, 0.50);
    padding: 20px;
}

.radioSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.customCheckbox {
    display: flex;
    align-items: center;
    padding: 10px;
    user-select: none;
}

.customCheckbox input[type="checkbox"] {
    display: none;
}


.customCheckbox input[type="checkbox"]+span {
    display: inline-block;
    padding-left: 45px;
    line-height: 37px;
    background: url("/Ciro/checkbox.png") no-repeat left top;
    user-select: none;
    word-break: break-word;
}

.customCheckbox input[type="checkbox"]:checked+span {
    background: url("/Ciro/checked.png") no-repeat left top;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.orderTotal {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 15px;
}

.line {
    width: 100%;
    height: 3px;
    padding: 15px;
    background: url("/Ciro/line.png") no-repeat center;
}

.orderTotal span {
    color: #B16464;
}

.stepBtnGroup {
    display: flex;
    padding: 50px 20px;
    justify-content: space-between;
    align-items: center;
}

.orderTitle {
    color: #fff;
    display: flex;
    background: #616153;
    height: 70px;
    padding: 0px 10px;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 393px) {
    .orderTitle {
        width: 100%;
    }
}

.orderTitle div {
    justify-content: center;
    display: flex;
}

.orderTitle div span {
    cursor: pointer;
}

/* -----------step3----------- */

.stepThreeMain {
    padding: 30px 20px;
}

.ordererTitle {
    padding: 10px;
}

.cartMemberInfo {
    display: flex;
    gap: 15px;
    padding: 10px;
}

@media (max-width: 393px) {
    .cartMemberInfo {
        flex-direction: column;
    }
}


.cartMemberInfo input {
    width: calc(50% - 7.5px);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;

}

@media (max-width: 393px) {
    .cartMemberInfo input {
        width: 100%;
    }
}

.receiverInfo {
    padding-right: 30px;
}

/* -----------step4----------- */
body{
    padding-right: 0 !important;
}
.modal{
    padding-right: 0 !important;
}
.modal-content .modal-header {
    border-bottom: 0 #FFF;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}


.modal-header button {
    display: flex;
    width: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(97, 97, 83, 0.50);
    background: #616153;
    color: #FFF;
}
.payTypeInput input{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;
}
.swal2-actions .custom-confirm-button-class{
    width: 100px;
    padding: 10px;
    background: #616153;
}
.swal2-actions .swal2-confirm:focus {
    box-shadow: 0 0 0 #fff; /* 取消焦点时的阴影 */
    outline: none; /* 取消焦点时的轮廓 */
  }
