$primary: #fcfaf2;
$secondary: #616153;
$accent: #b16464;

body{
  background-color: $primary;
  --bs-body-bg:$primary
}
.container{
  // background-color: $primary;
}

// .title {
//   width: 100%;
//   font-size: 20px;
//   color: $secondary;
//   border-bottom: 1px solid $secondary;
// }
.cart {
  height: 760px;
  padding-block: 20px 10px;
  margin: 0 auto;
  .img-area {
    margin-top: 40px;
    padding-bottom: 40px;
    .img {
      // width: 620px;
      width: 100%;
      height: 670px;
      background-color: $secondary;
    }
    .scrolls{
      bottom: 40px;
    }

  }
  .detail {
    // padding-inline: 20px;
    // margin: 40px 20px 40px 0px;
    margin-top: 40px;
    // padding: 0px 0px 40px 0px;
    height: 680px;
    border-top: 1px solid $secondary;
    .product-info {
      margin-block: 55px 20px;
      .product-name {
        font-size: 30px;
        color: $secondary;
      }
      .price {
        font-size: 35px;
        color: $accent;
        font-weight: bold;
      }
      .intro {
        font-size: 18px;
        color: $secondary;
      }
    }

  }
  
}


//product-page-title
.product-page-title {
  // max-width: 1440px;
  height: 95px;
  border-bottom: 1px solid $secondary;
  padding: 50px 45px;

  p {
    max-width: 1440px;
    margin: 0 auto;
    color: $secondary;
    font-size: 30px;
  }
}
