// .dm {
//     background: lightblue;
//     width: 100%;
//     height: 540px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     .dm-img {
//       background: $primary;
//       width: 1000px;
//       height: 500px;
//       margin: 20px 18px;
//     }
//   }
  
//   .titlearea {
//     background: lightcoral;
//     width: 100%;
//     height: 80px;
//     h1 {
//       font-size: 30px;
//       font-weight: 400;
//       padding: 20px 0px;
//       letter-spacing: 0.15em;
//     }
//   }
  
//   .hr-line {
//     width: 100%;
//     height: 1px;
//     background: $font;
//   }
  
//   .nav-bar {
//     background: lightseagreen;
//     width: 100%;
//     height: 100px;
//   }
//   .bread-crumb {
//     background: lightgreen;
//     width: 100%;
//     height: 100px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     .breadCrumb {
//       background: #000;
//       width: 200px;
//       height: 42px;
//     }
//   }
  
//   .function-btns {
//     background: lightpink;
//     width: 100%;
//     height: 100px;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     align-items: center;
//     .btn {
//       border: 1px solid $secondary;
//       border-radius: 0;
//       height: 42px;
//       margin-inline: -0.5px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
  
//       .icon {
//         background: lightgray;
//         width: 24px;
//         height: 24px;
//       }
//       p {
//         margin: 0;
//       }
//     }
//     .filterBtn {
//       width: 130px;
//     }
//     .orderBtn {
//       width: 95px;
//     }
//     // .paginationBtn{
  
//     // }
//   }
  
//   .course-list {
//     background: lightgray;
//     width: 100%;
//     // padding-block: 40px;
//     .course-list-item {
//       display: flex;
//       margin: 40px;
//       .course-list-img {
//         background: lightblue;
//         width: 600px;
//         height: 400px;
//       }
//       .course-list-text {
//         background: lightyellow;
//         width: 760px;
//         height: 400px;
//         padding-inline: 40px;
//         .title {
//           font-size: 22px;
//           padding: 12px 0px;
//           font-weight: 600;
//         }
//         .intro {
//           font-size: 16px;
//           line-height: 19px;
//         }
//         .items {
//           font-style: 16px;
//           line-height: 30px;
//           letter-spacing: 0.1em;
//         }
//         .course-rating {
//           display: flex;
//           align-items: first baseline;
  
//           .stars {
//             display: flex;
//             margin-block: 20px;
//             .star {
//               font-size: 22.5px;
//               letter-spacing: 5px;
//             }
//           }
//           .counting {
//             font-style: 14px;
//             margin-left: 14px;
//           }
//         }
//         .bottom {
//           display: flex;
//           align-items: flex-end;
//           justify-content: space-between;
//           .price {
//             font-size: 28px;
//             color: $accent;
//             letter-spacing: 0.1em;
//             margin: 0;
//           }
//           .moreBtn {
//               letter-spacing: 0.1em;
//               padding: 12px 0px;
//               width: 250px;
//               font: 800 14px inter;
//               background: $secondary;
//               color: $primary;
//               border-radius: 0%;
//             &:hover {
//               color: $secondary;
//               background-color: $primary;
//             }
//           }
//         }
//       }
//     }
//   }
  
//   .pagination {
//     background: lightyellow;
//     width: 100%;
//     height: 100px;
//   }