
.all-course {
  .btn-group {
    .btn {
      min-width: 90px !important;
    }

    .dropdown-toggle {
      min-width: 160px !important;
    }
  }
}

.collapsed-content-box {
  background-color: $primary;
  color: $secondary;
  border: 1px solid $secondary;
}

.course-list {
  .course-list-info-mobile {
    display: none;
  }

  .course-list-info-desktop {
    display: flex;
    align-items: center;
    margin-block: 50px;

    .left {
      .course-list-img {
        max-width: 600px;
        max-height: 400px;
        overflow: hidden;
        display: flex;

        img {
          object-fit: cover;
        }
      }
    }

    .right {
      width: calc(100% - 600px - 40px);
      margin-left: 40px;
      display: flex;
      flex-direction: column;

      .course-list-text {
        .title {
          // margin-top: -10px;
          font-size: 22px;
          font-weight: 600;
        }

        .intro-wrapper {
          font-size: 16px;
          margin-top: 20px;
          margin-bottom: 20px;
          min-height: 120px;
          max-height: 120px;

          .intro {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            /* number of lines to show */
            -webkit-box-orient: vertical;
          }
        }

        .course-list-items {
          font-weight: 800;
          font-size: 16px;
          line-height: 30px;
        }

        .course-rating {
          display: flex;
          align-items: first baseline;
          margin-top: 10px;
          margin-bottom: 20px;

          .counting {
            font-style: 14px;
            margin-left: 14px;
          }
        }
      }

      .course-list-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .price {
          font-size: 35px;
          color: $accent;
          letter-spacing: 0.1em;
          margin: 0;
        }

        .moreBtn {
          letter-spacing: 0.1em;
          padding: 12px 0px;
          width: 290px;
          font: 800 14px inter;
          background: $secondary;
          color: $primary;
          border-radius: 0%;

          &:hover {
            color: $secondary;
            background-color: $primary;
          }
        }
      }
    }
  }
}

// 手機板
@media screen and (max-width: 393px) {
  .course-list {
    // margin-inline: 9px;
    margin-bottom: 100px;

    .course-list-info-desktop {
      display: none;
    }

    .course-list-info-mobile {
      margin-top: 20px;
      display: block;

      // display: flex;
      // align-items: center;
      // margin-block: 50px;
      .left {
        .course-list-img {
          border-radius: 20px;
          width: 342px;
          height: 150px;
          overflow: hidden;
          display: flex;
          position: relative;

          img {
            object-fit: cover;
            max-height: 300%;
            max-width: 300%;
            width: 342px;
            height: 150px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
      }

      .right {
        width: 100%;
        // width: calc(100% - 600px - 40px);
        margin-left: 0px;
        display: flex;

        // flex-direction:row-reverse;
        .course-list-text {
          width: 100%;
          display: flex;
          align-items: first baseline;
          justify-content: space-between;

          .title {
            // margin-top: -10px;
            font-size: 19px;
            font-weight: 600;
          }

          .price {
            font-size: 20px !important;
            // font-weight: 600;
            color: $accent;
            letter-spacing: 0.1em;
            justify-self: end;
            // margin-left: 30px;
          }

          .intro-wrapper {
            display: none;
            // font-size: 16px;
            // margin-top: 20px;
            // margin-bottom: 20px;
            // min-height: 120px;
            // max-height: 120px;
            // .intro {
            //   overflow: hidden;
            //   text-overflow: ellipsis;
            //   display: -webkit-box;
            //   -webkit-line-clamp: 5; /* number of lines to show */
            //   -webkit-box-orient: vertical;
          }
        }

        .course-list-items {
          display: none;
          // font-weight: 800;
          font-size: 18px;
          line-height: 30px;
        }

        // .course-rating {
        //   display: flex;
        //   // flex-direction: column;
        //   align-items: first baseline;
        //   margin-top: 5px;
        //   margin-bottom: 0px;
        //   .counting {
        //     font-size: 14px;
        //     margin-left: 14px;
        //   }
        // }
      }

      .course-list-bottom {
        display: none;
        // display: flex;
        justify-content: space-between;
        align-items: flex-end;

        // .price {
        //   font-size: 20px!important;
        //   // font-weight: 600;
        //   color: $accent;
        //   letter-spacing: 0.1em;
        //   margin: 0;
        // }
        .moreBtn {
          // letter-spacing: 0.1em;
          // padding: 12px 0px;
          // width: 290px;
          // font: 800 14px inter;
          // background: $secondary;
          // color: $primary;
          // border-radius: 0%;
          // &:hover {
          //   color: $secondary;
          //   background-color: $primary;
        }
      }
    }
  }

  .course-rating {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;

    .counting {
      font-size: 16px;
      // margin-left: 14px;
    }
  }
}

.ant-rate {
  color: $secondary !important;
}