// 變數覆蓋用 (Variable overrides)
// 全站配色 colors
$primary: #fcfaf2;
$secondary: #616153;
$secondary-half: #909089;
$secondary-light: #a8a8a5;
$accent: #b16464;
$font: #0c0c0c;

// 覆蓋特定bootstrap的樣式
// 這是會員側邊欄使用的tab pane
$nav-link-color:$secondary;
$nav-link-hover-color:#b16464;
$nav-pills-border-radius:  0;
// $nav-pills-link-active-color:#616153;
// $nav-pills-link-active-bg:transparent;
$nav-tabs-border-width:0;
$nav-tabs-border-radius:0;
$link-color:$secondary;
// Bootstrap 基本字體樣式
$font-family-base:NSimSun;
.row{
  --bs-gutter-x:0!important;
}
// ↑↑↑  變數覆蓋(Variable overrides) 要寫在這行"上面"  ↑↑↑

// google Inter,   ABeeZee 字體
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//全站PC樣式
html{
  font-size: 16px;
  font-family: NSimSun,'Inter','AbeeZee', sans-serif!important;
  color: $font;
  background-color: $primary;
  // scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  font-family: NSimSun,'Inter','AbeeZee', sans-serif!important;
  margin: 0  !important ;
  padding: 0 !important;
  box-sizing: border-box;
  cursor: none;
}
//手機端
@media (max-width: 393px) {
}