body{
  color: $secondary;
  font-family: NSimSun;
}
body{
  color: $secondary;
  font-family: NSimSun;
}
.login-bg {
  height: 100%;
  width: 100%;
  background: url(../image/bow1.jpg) center/cover no-repeat fixed;
  position: relative;
  /* 背景透明度 */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6); /* 调整透明度的背景颜色 */
  }
}

// 會員側邊導覽列 手機板
.side-avatar-block {
  @media (max-width: 400px) {
    display: flex;
    align-items: center;
    img {
      border-radius: 0;
      width: 50px;
      height: 50px;
      margin-right: 30px;
    }
    p {
      margin-block: auto;
      margin-right: 10px;
    }
  }
}
.side-nav-d-none {
  @media (max-width: 400px) {
    // display: none;
  }
}

// 會員導覽列桌機版


.nav-item {
  border-left: 7px solid transparent;
  &:hover {
    border-left: 7px solid $accent;
  }
}
.update-profile-btn,
.update-profile-btn:hover {
  background-color: $secondary;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
}
.bgc-primary {
  background-color: $secondary;
  color: #fff;
}

// 收藏的商品 含bootstrap樣式覆蓋
.fav-header {
  justify-content: space-around;
  ul {
    border-radius: 0;
  }
  li {
    width: calc(180px + 0.2 * (100vw - 770px));
    border-left: 0;
    border-bottom: 7px solid transparent;
    &:hover {
      border-left: 0;
      #uncontrolled-tab-example-tab-product,
      #uncontrolled-tab-example-tab-course {
        border-bottom: 7px solid $accent;
      }
    }
    #uncontrolled-tab-example-tab-product,
    #uncontrolled-tab-example-tab-course {
      width: 100%;
      &.active {
        color: $accent;
        border-left: 0;
        border-bottom: 7px solid $accent;
      }
    }
  }
}
.fav-product-cards{
  .fav-product-card-div{
  padding:20px;
  }
  .product-name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    // padding:20px,0,0,10px;
  }
  .product-price{
    font-size: 18px;
    font-weight: 600;
    color: #b61c1c;
  }
  @media (max-width:393px){
    .product-name{
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

// 會員中心側邊欄
.member-sidebar {
  li {
    border-left: solid 7px transparent;
    padding: 0;
    margin: 3px;
    a {
      padding: 10px 10px;
      color: $secondary;
      font-size: 1.25rem;
      font-weight: bold;
      text-decoration: none;
      margin: 0;
      padding: 10px;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  li:hover,
  .active {
    border-left: solid 7px $accent;
    color: $accent;
  }

  @media (max-width: 930px) {
    img {
      width: 100px;
      height: 100px;
    }
  }
  @media (max-width: 768px) {
    img {
      width: 80px;
      height: 80px;
      border-radius: 0;
    }
    p {
      font-size: 1rem;
      font-weight: bold;
      color: $secondary;
      margin: 0;
    }
  }
}
.side-bar-border-right {
  border-right: 3px solid $secondary-light;
}

// 收藏商品的按鈕也使用 update-profile-btn 標籤

// 收藏商品

.fav-section {
  position: relative;
  color: $secondary;
  text-decoration: none;
  width: calc(220px + 0.2 * (100vw - 770px));
  min-width: 315px;
  height: calc(140px + 0.05 * (100vw - 1470px));
  min-height: 122px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);

  img {
    height: 100%;
  }
  p {
    font-size: 16px;
    @media (max-width: 1250px) {
      font-size: 14px;
    }
  }
  input {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
  }
}

// 收藏課程

.member-fav-course {
  .course-list-item {
    display: flex;
    margin: 40px;
    .course-list-img {
      background: lightblue;
      width: 420px;
      height: 280px;
    }
    .course-list-text {
      position: relative;
      input{
        position: absolute;
        right:15px;
        top: 10px;
      }
      position: relative;
      input{
        position: absolute;
        right:15px;
        top: 10px;
      }
      background: lightyellow;
      width: 560px;
      height: 280px;
      padding-inline: 40px;
      .title {
        font-size: 22px;
        padding: 12px 0px;
        font-weight: 600;
      }
      .intro {
        height: 25px;
        font-size: 14px;
        line-height: 19px;
        white-space: nowrap; // 防止文本换行
        overflow: hidden; // 隐藏溢出的文本
        text-overflow: ellipsis; // 使用省略号来表示溢出的文本
      }
      .items {
        font-style: 14px;
        letter-spacing: 0.1em;
      }
      .course-rating {
        display: flex;
        align-items: first baseline;

        .stars {
          display: flex;
          margin-block: 10px;
          .star {
            font-size: 22.5px;
            letter-spacing: 5px;
          }
        }
        .counting {
          font-style: 14px;
          margin-left: 14px;
        }
      }
      .bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .price {
          font-size: 28px;
          color: $accent;
          letter-spacing: 0.1em;
          margin: 0;
        }
        .moreBtn {
          letter-spacing: 0.1em;
          padding: 12px 0px;
          width: 250px;
          font: 800 14px inter;
          background: $secondary;
          color: $primary;
          border-radius: 0%;
          &:hover {
            color: $secondary;
            background-color: $primary;
          }
        }
      }
    }
  @media (max-width:393px){
    display: block;
    margin: 10px;
    .course-list-img {
      background: lightblue;
      width: 336px;
      height: 224px;
    }
    .course-list-text {
      background: lightyellow;
      width: 336px;
      height: 280px;
      padding-inline: 20px;
      .title {
        font-size: 22px;
        padding: 2px 0px;
        font-weight: 600;
        height: 40px;
      }
    }
  }
  }
}

// 會員中心註冊登入
.login-button {
  background-color: $secondary;
  border-radius: 0;
  border: 0px;
  padding-inline: 40px;
  color: #fff;
  margin-bottom: 30px;
  &:hover {
    background-color: $secondary;
    color: #fff;
  }

  @media (max-width: 393px) {
    padding-inline: 35px;
  }
}

// 會員中心修改會員資料
// 頭像
  .member-profile-img{
    button{
      color: #fff;
      background-color:$secondary;
      border-radius: 0;
      &:hover{
        background-color: $accent;
        color: #fff;
      }
    }
    input{
      padding-left:140px;
    }
  }
  .img-object-fit{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    .avatar{
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
     @media (max-width: 764px) {
      width: 130px;
      height: 130px;
}
  }
// 會員資料內容
.mobile-member-update-container{
  width: 100%;
  margin-bottom: 100px;

  @media (max-width:393px){
    width: 100%;
    margin-bottom: 80px;
  }
}

  .shadow-sm{
    width: 400px;
    @media (max-width:393px){
      width: 80%;
    }
  }
.upload-profile-form{
  color: $secondary;
  font-family: NSimSun;
  input{
    background-color: #fff;
    border: 1px solid rgba(204, 197, 197, 0.6);
    &:focus{
      background-color: #fff;
      border: 1px solid $secondary;
    }
    &:focus::placeholder{
      color: transparent;
    }
  }
  button{
    color: #fff;
    background-color:$secondary;
    border-radius: 0;
    &:hover{
      background-color: $accent;
      color: #fff;
    }
  }
}
// 會員中心修改密碼
.update-pwd-form{
  input{
    background-color: #fff;
    &:focus{
      background-color: #fff;
      border: 1px solid $secondary;
    }
  }
}
.forgot-pwd-container{
  .forget-pwd-header{
    font-size: 24px;
  }
  input{
    background-color: #fff;
  }
  .otp-position-relative{
    position: relative;
    .otp-button{
      position: absolute;
      background-color: $accent;
      color: #fff;
      right: 0;
      top: 32px;
    }
  }
  .forgot-pwd-text{
    border: 1px dashed $secondary-light;
    @media (max-width:393px){
      background: #ffffff7e;
    }
  }
  .forgot-pwd-back{
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}
.shadow-sm{
  width: 400px;
  @media (max-width:393px){
    width: 350px;
  }
}