.login-bg{
    height: 100%;
    width: 100%;
    background: url(../image/bow1.jpg) center/cover no-repeat fixed;
    position: relative;
      /* 背景透明度 */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6); /* 调整透明度的背景颜色 */
  }
} 
.member-side-bar{
  width: 310px;
  height: 600px;
}