body {
  background-color: $primary;
  --bs-body-bg: $primary;
}
.product-info-crum{
  margin:0 0 40px 40px;
}
.product-info-img {
  padding: 0;
  text-align: end;
  justify-content: flex-end;
  display: flex;
  .img {
    
    width: 600px;
    height: 600px;
    background-color: $secondary;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.product-info-select {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .attr-title-style{
    color: $secondary;
    width: 40px;
    height: 40px;
    // height: 38.5px;
    margin: 10px 10px 25px 15px;
    border: 1px solid transparent;
    font-size: 18px;
  }
  .attr-value-style{
    width: 80px;
    height: 40px;
    color: $secondary;
    display: flex;
    justify-content: center;
    // flex-direction: row;
    
    margin:5px 5px 20px 5px;
    padding: 5px 10px;
    font-size: 18px;
    // width: 60px;
    // text-align: center;
    border: 1px solid $secondary;
    border-radius: 0;
    &:hover{
      background-color: $secondary;
      color: $primary;
    }
  }

  .product-info-des {
    margin-top: 50px;
  }
  .product-info-attr {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
  }
  .product-info-btns {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    .product-info-btn {
      display: flex;
    }
  }
  .atrribute {
    display: flex;
    align-items: center;
    margin-block: 15px;
    .attr-title {
      font-size: 30px;
    }
  }
}
.inter-img{
  margin-block: 100px 50px;
  background-color: #616153;
  width: 100%;
  height: 300px;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.attribute-area{
  margin-block: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dtlBtnSection .dtlBtnGroup .dtlActive{
  margin-bottom: 20px;
  background-color: #616153;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  .product-info-crum{
    margin:0;
  }
  .product-info-img {
    .img {
      height: 400px;
    }
  }
  .dtlBtnSection .dtlBtnGroup .dtlActive{
   width: 65px;
   margin: 5px 3px 5px 3px;
   display: flex;
   align-items: center;
  }
  .product-info-select {

    .attr-title-style{
      height: 40px;
      margin: 10px 10px 10px 15px;
      font-size: 18px;
    }
    .attr-value-style{
      align-items: center;
      width: 65px;
      height: 40px;
      margin: 5px 3px 5px 3px;
      padding: 5px 5px;
      font-size: 15px;
      &:hover{
        // background-color: $secondary;
        // color: $primary;
      }
    }


    .product-info-attr {
      padding-inline: 20px 0;
    }
    .product-info-btns {
      padding-inline: 20px;
    }
    .atrribute {
      margin-block: 8px;
      .attr-title {
        font-size: 20px;
      }
    }
  }
  .product-info-btns {
    .product-info-btn {
      border: transparent;
      display: flex;
      flex-direction: column;
    }}
}
