$primary: #fcfaf2;
$secondary: #616153;
$accent: #b16464;
body {
  background-color: $primary;
}

* {
  box-sizing: border-box;
}

.ads {
  height: 500px;
  width: 100%;

  .ad {
    padding: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .main {
    padding: 0;

    .scrolls{
      bottom: 10px;
    }
  }
}

.product-page-title {
  // max-width: 1440px;
  height: 95px;
  border-bottom: 1px solid $secondary;
  padding: 50px 45px;

  p {
    max-width: 1440px;
    margin: 0 auto;
    color: $secondary;
    font-size: 30px;
  }
}

.category {
  height: 510px;
  .type-title {
    height: 300px;
    background-color: $secondary;
    color: $primary;
    font-size: 40px;
    padding-top: 80px;
    letter-spacing: 8px;
  }
  .type {
    top: 160px;
    margin: 0 auto;
    width: 100%;
    .item {
      width: 360px;
      height: 280px;
      background-color: #4b4b3d;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #a7a78c;
        a {
          display: block;
          color: $primary;
          font-size: 36px;
        }
      }
      a {
        display: none;
        text-decoration: none;
      }
    }
  }
}
.inter-block {
  font-size: 20px;
  color: $secondary;
  height: 500px;
  padding-block: 280px;
}

.filter-product-list {
  padding-bottom: 100px;
  // border-bottom: 1px solid $secondary;
  .fk {
    max-width: 1440px;
    margin: 0 auto;
    padding: 35px 0px 35px 0px;

    .wrap {
      .btn-group {
        .btn {
          color: $secondary;
          &:hover {
            background-color: $secondary;
            color: $primary;
          }
        }
        .btn-outline-primary {
          border: 1px solid $secondary;
          border-radius: 0;
        }
      }
      .per-page {
        border: 1px solid $secondary;
        border-radius: 0;
        color: $secondary;
        .btn-primary {
          border: 1px solid transparent;
          border-radius: 0;
          background-color: $primary;
          color: $secondary;
          &:hover {
            background-color: $secondary;
            color: $primary;
          }
        }
      }
    }
  }

}

