$mainColor: #616153;
$viceColor: #fcfaf2;
$emphColor: #b16464;

* {
  box-sizing: border-box;
}
.ads {
  // background-color: $viceColor;
  height: 500px;
  width: 100%;
  .ad {
    height: 100%;
    background-color: #a5a583;
  }
  .main {
    background-color: $mainColor;
  }
}
.title {
  height: 95px;
  padding: 50px 45px;
  color: $mainColor;
  font-size: 30px;
  border-bottom: 1px solid $mainColor;
}
.cards {
  height: 435px;
  border-bottom: 1px solid $mainColor;
  .card {
    width: 230px;
    height: 320px;

    img {
      height: 230px;
      background-color: $mainColor;
    }
    .content {
      height: 90px;
      padding: 5px;
      .product-name {
        color: $mainColor;
        font-size: 18px;
        .tag {
          text-align: center;
          padding-block: 5px;
          width: 50px;
          height: 30px;
          font-size: 12px;
          background-color: $emphColor;
          color: $viceColor;
        }
      }
      .description {
        color: $mainColor;
        font-size: 15px;
      }
      .price {
        font-size: 18px;
        color: $emphColor;
      }
    }
  }
}
.inter-block {
  font-size: 20px;
  color: $mainColor;
  height: 500px;
  padding-block: 280px;
}
.sales {
  height: 320px;
  padding: 40px;
  border-bottom: 1px solid $mainColor;
  .card {
    width: 630px;
    flex-direction: row;
    .img {
      width: 350px;
      height: 240px;
      background-color: $mainColor;
    }
    .content {
      height: 240px;
      width: 280px;
      .tags {
        .tag1 {
          background-color: $emphColor;
          color: $viceColor;
          font-size: 15px;
          padding: 5px;
          width: 56px;
        }
        .tag2 {
          background-color: $mainColor;
          color: $viceColor;
          font-size: 15px;
          padding: 5px;
          width: 72px;
        }
      }
      .product-name {
        font-size: 23px;
        color: $mainColor;
      }
      .price {
        font-size: 25px;
        color: $emphColor;
      }
    }
  }
}
.list {
    padding-bottom: 100px;
  .fk {
    padding: 35px 35px 35px 0px;
    .bread-crumb {
      height: 40px;
      a {
        text-decoration: none;
        color: $mainColor;
      }
    }
    .wrap {
      .btn-group {
        .btn {
          color: $mainColor;
          &:hover {
            background-color: $mainColor;
            color: $viceColor;
          }
        }
        .btn-outline-primary {
          border: 1px solid $mainColor;
          border-radius: 0;
        }
      }
      .per-page {
        border: 1px solid $mainColor;
        border-radius: 0;
        color: $mainColor;
        .btn-primary {
          border: 1px solid transparent;
          border-radius: 0;
          background-color: $viceColor;
          color: $mainColor;
          &:hover {
            background-color: $mainColor;
            color: $viceColor;
          }
        }
      }
    }
  }
  .cards {
    .card-list {
      width: 250px;
      height: 400px;
      .img {
        width: 250px;
        height: 300px;
        background-color: $mainColor;
        button {
          border: transparent;
          background-color: transparent;
          top: 10px;
          right: 16px;
          .fa-heart {
            width: 26px;
            height: 26px;
            color: $emphColor;
          }
          .far-heart{
            display: none;
          }
          &:hover {
            .fa-heart {
              display: none;
            }
            .far-heart {
              display: block;
              width: 26px;
              height: 26px;
              color: $emphColor;
            }
          }
          
        }
      }
      .content {
        width: 250px;
        height: 100px;
        .prodcut-name {
          font-size: 23px;
          color: $mainColor;
        }
        .price {
          font-size: 20px;
          color: $emphColor;
          button {
            border: transparent;
            color: $mainColor;
            background-color: transparent;
            &:hover {
              color: #93937b;
            }
          }
        }
      }
    }
  }
}
