$primary: #fcfaf2;
$secondary: #616153;
$accent: #b16464;
body {
  background-color: $primary;
}

* {
  box-sizing: border-box;
}

.ads {
  height: 500px;
  .ad {
    padding: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .main {
    padding: 0;

    .scrolls {
      bottom: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .ads {
    display: none !important;
  }
}
.phone-ad {
  display: none;
}
@media screen and (max-width: 768px) {
  .phone-ad {
    display: block;
    height: 178px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
//分區title
.product-page-title {
  height: 95px;
  border-bottom: 1px solid $secondary;
  p {
    max-width: 1440px;
    padding: 40px 0 10px 25px;
    margin: 0 auto;
    color: $secondary;
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .product-page-title {
    padding: 0;
    height: 60px;
    p {
      padding: 26px 0 10px 22px;
      margin: 0;
      font-size: 16px;
    }
  }
}
//所有產品button
.filter-area {
  border-bottom: 1px solid $secondary;
  margin: 0 auto;
  .all-product {
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    p {
      // max-width: 1440px;
      padding: 40px 0 10px 0px;
      margin: 0;
      color: $secondary;
      font-size: 30px;
    }
    .wrap {
      margin-bottom: 10px;
      justify-content: flex-end;
    }
  }
}
@media screen and (max-width: 768px) {
  .filter-area {
    padding-left: 0!important;
    justify-content: space-between;
    .container {
      padding: 0;
    }
    .all-product {
      padding: 0;
      height: 60px;
      p {
        padding: 10px 0 10px 5px;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
//卡片在各自component
//手機板 優惠專區
.phone-sales {
  display: none;
}
@media screen and (max-width: 768px) {
  .phone-sales {
    display: flex;

    justify-content: center;
    .cards {
      display: flex;
      border: 1px solid $secondary;
      border-radius: 3px;
      width: 350px;
      height: 160px;
      .img {
        border: 1px solid transparent;
        width: 200px;
        height: 100%;
        background-color: $secondary;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .content {
        width: 150px;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .product-name {
          font-size: 14px;
          color: $secondary;
        }
        .price {
          font-size: 16px;
          color: $accent;
        }
        .tag {
          bottom: 0;
          color: $primary;
          font-size: 15px;
          padding: 5px;
          width: 100%;
          text-align: center;
        }
        .tag1 {
          background-color: $accent;
        }
        .tag2 {
          background-color: #a7a78c;
        }
      }
    }
  }
}
.category {
  height: 360px;
  .type-title {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 160px;
    background-color: $secondary;
    color: $primary;
    font-size: 40px;
    letter-spacing: 8px;
    width: 100%;
    padding: 50px;
  }
  .type {
    // d-flex position-absolute justify-content-center
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 160px 0 0 0;
    // z-index: 999;
    .item {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &:hover {
        span {
          text-decoration: none;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary;
          font-size: 36px;
          position: absolute;
          background-color: $secondary;
          // opacity: 70%;
          transition: 0.4s;
        }
      }
      span {
        display: none;
        text-decoration: none!important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .category {
    height: 40px;
    padding: 5px 10px;
    .type-title {
      display: none;
    }
    .type {
      // d-flex position-absolute justify-content-center
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      padding: 0;
      // z-index: 999;
      .item {
        margin-inline: 2.5px;
        width: 100%;
        height: 30px;
        border: 1px solid $secondary;
        img {
          display: none;
        }
        span {
          display: block;
          color: $secondary;
          font-size: 12px;
          text-decoration: none;
        }
        &:hover {
          background-color: $secondary;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
//手機板廣告標語
.phone-slogan {
  display: none;
}
@media screen and (max-width: 768px) {
  .phone-slogan {
    display: block;
    text-align: center;
    margin: 5px 10px;
    padding-block: 10px;
    font-size: 12px;
    color: $primary;
    background-color: $secondary;
  }
}
.inter-block {
  font-size: 20px;
  color: $secondary;
  height: 500px;
  padding-block: 280px;
}
@media screen and (max-width: 768px) {
  .inter-block {
    display: none;
  }
}
.product-under-space {
  display: none;
}
@media screen and (max-width: 768px) {
  .product-under-space {
    display: block;
    width: 100%;
    height: 60px;
  }
}
