.reserve-text{
    // width: 700px;
    // margin: 0 auto;
    @media (max-width: 768px) {
        width: 100%;
    }
        
    }
.reserve-bn-text{
    line-height: 50px;
}
.reserve-bta{
    text-decoration:none;
}
.reserve-bt1{
        width: 200px;
        height: 60px;
        border-width: 3px;
        border-style: solid;
        background-color: #FFFCF3;
        border-color: #616153;
        @media (max-width: 768px) {
            width: 130px;
            height: 40px;
        }
    }
.reserve-bt2{
        width: 200px;
        height: 60px;
        color: #FFFCF3;
        border-width: 3px;
        border-style: solid;
        background-color: #616153;
        border-color: #616153;
        @media (max-width: 768px) {
            width: 130px;
            height: 40px;
        }
        
    }

@media (max-width: 768px) {
    .reserve-setp {
        max-width: 100%;
    }
}


