.reserve-text{
    width: 700px;
    margin: 0 auto;
}
.reserve-bta{
    text-decoration:none;
}
.reserve-bt1{
        width: 200px;
        height: 60px;
        border-width: 3px;
        border-style: solid;
        background-color: #FFFCF3;
        border-color: #616153;
    }
.reserve-bt2{
        width: 200px;
        height: 60px;
        color: #FFFCF3;
        border-width: 3px;
        border-style: solid;
        background-color: #616153;
        border-color: #616153;
    }
