.reserve-text{
    width: 700px;
    margin: 0 auto;
}
.reserve-button1{
        width: 200px;
        height: 60px;
        border-width: 3px;
        background-color: #FFFCF3;
        border-color: #616153;
    }
.reserve-button2{
        width: 200px;
        height: 60px;
        color: #FFFCF3;
        border-width: 3px;
        background-color: #616153;
        border-color: #FFFCF3;
    }
