
.bt-container{
    // overflow-y: auto;
    // max-height: 100vh;
}
.login-block{
    width: 520px;
    // height: 450px;
    background-color: #FCFAF2;
    .hmgnAx{
        border: 0.5px solid rgba(196, 198, 204, 0.2);
    }
    select{
        background-color: #fff;
    }
    select{
        background-color: #fff;
    }
    .password-eye{
        position: relative;
        .password-eye2{
            width: 30px;
            height: 30px;
            cursor: pointer;
            position: absolute;
            top: 2.3rem;
            right: 1rem;
            svg{
        } 

        }
    }
    input::placeholder{
        color:transparent
    }
    @media (max-width:393px){
        background-color: transparent;
        .login-account-table{
            color: transparent;
        }
        input::placeholder{
            color: $secondary;
        }
    }
}
.login-block-container{
    padding-top: 30px;
    padding-inline: 100px;
    margin-bottom: 30px;

    .login-link{
        border-bottom: 5px solid #B16464;
    }
    @media (max-width: 393px) {
        padding-top: 30px;
        padding-inline: 50px;
    }
    input{
        background-color: #fff;
        &:focus{
            background-color: #fff;
            border: 1px solid $secondary;
        }
    }
    input{
        background-color: #fff;
        &:focus{
            background-color: #fff;
            border: 1px solid $secondary;
        }
    }
}
.login-border-bottom{
    width: 40%;

    a{
        width: 100%;
        text-align: center;
        color:#616153;
    }
}
.google-login-btn{
    width: 60%;
    border: 0;
    margin-bottom: 20px;
    background-color:#fff!important;
    position: relative;
    img{
        width: 6%;
        position: absolute;
        top: 10px;
        top: 10px;
        left: 5%;
    }
    }

.forgetpwd-link{
    color:#616153;
}
