
.bt-container{
    // overflow-y: auto;
    // max-height: 100vh;
}
.login-block{
    width: 520px;
    // height: 450px;
    background-color: #FCFAF2;
    #input-6{
        border: 1px solid rgba(164,167,181,0.3);
    }
}
.login-block-container{
    padding-top: 30px;
    padding-inline: 100px;

    .login-link{
        border-bottom: 5px solid #B16464;
    }

    @media (max-width: 393px) {
        padding-top: 30px;
        padding-inline: 50px;
    }
}
.login-border-bottom{
    width: 40%;

    a{
        width: 100%;
        text-align: center;
        color:#616153;
    }
}
.google-login-btn{
    width: 60%;
    border: 0;
    background-color:#fff;
    position: relative;
    img{
        width: 6%;
        position: absolute;
        left: 5%;
    }
    }

.forgetpwd-link{
    color:#616153;
}
